/* html{
  height: 100%;
  background-color: #3a3e43;
} */
.header_left h3{
  font-size: 20px;
  margin-left: 30px;
}
div.main{
  padding:0px 15px;
}
div.main>ul{
  margin: 0;
  padding:0;
  padding-top: 20px;
}
div.main>ul>li{
  height: 150px;
  list-style: none;
  background-color: rgba(44, 49, 56, 1);
  margin-bottom: 20px;
  display: flex;
}

div.main>ul>li>span{
  display: inline-block;
  height: 100%;
  width: 75px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  color: rgba(229, 229, 229, 1);
  font-size: 14px;
}
div.main>ul>li>a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
}
div.main>ul>li>a:hover{
  border: 2px solid #222;
}
div.main>ul>li>a:active{
  border: 2px solid #222;
  box-shadow: 0 0 4px 1px #222 inset;
}
div.main>ul>li>a:active span{
  color: #fff;
}



span.username{
  display: inline-block;
  height: 100%;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
span.username i{
  margin-left: 5px;
}
span.username ul{
  display: none;
  position: absolute;
  z-index: 100;
  height: 80px;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: -50px;
  background-color: #888;
  text-align: center;
}
span.username ul li{
  height: 40px;
  line-height:40px;
  width: 100%;
  float: left;
  background-color: #888;
  list-style: none;
}
span.username ul li:hover{
  background-color: #222;
}
span.username:hover{
  background-color: #666;
}
span.username:hover ul{
  display: block;
  list-style: none;
  color: #fff;
  background-color: #333;
}
span.username:hover .fa-caret-down{
  opacity: 1;
}
.fa-caret-down{
  opacity: 0;
}

.modal-content{
  width: 400px;
}

.bv-form .help-block{
  position: absolute;
  right: 20px;
  margin-top: 0;
}